body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 header nav {
  display: flex;

 min-width: 361px;
 padding: 3vw 2vw 0 2vw;

 justify-content: space-between;
}

a {
  text-decoration: none;

  color: #000;

  font-family: 'PT Sans', sans-serif;
}


.one h1 {
  padding-top: 22vw;
  padding-left: 13vw;

  font-family: 'PT Sans', sans-serif;
  font-size: 12vw;
  font-weight: 700;
  line-height: 13vw;
}

.one h2 {
  width: 98vw;
  padding-top: 4vw;
  padding-left: 13vw;

  font-family: 'PT Sans', sans-serif;
  font-size: 6vw;
  line-height: 7vw;
}

.supre {
  width: 85vw;
  height: 82vw;
  margin-top: 12vw;
  margin-left: 32vw;
}

.two h1 {
  width: 81vw;
  margin-top: 40vw;
  padding-left: 13vw;

  font-family: 'PT Sans', sans-serif;
  font-size: 12vw;
  font-weight: 700;
  line-height: 13vw;
}

.two h2 {
  width: 95vw;
  padding-top: 4vw;
  padding-left: 13vw;

  font-family: 'PT Sans', sans-serif;
  font-size: 6vw;
  line-height: 7vw;
}

.supre2 {
  top: 172vw;
  right: 37vw;

  overflow: hidden;

  width: 61vw;
  height: 72vw;

  background-size: cover;
}
